page-page3 .list {
  padding-top: 60px;
}

ion-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: visible;
}

ion-header {
  z-index: 1;
}

ion-card-title {
  text-align: center;
  font-weight: bold;
  //text-decoration: underline;
}

.info-concert {
  position: fixed;
  vertical-align: middle;
  width: 100%;
  z-index: 2;
  color: rgba(255, 255, 255, 0.9);
  font-weight: bold;
  background-color: #E23E57;
  border-radius: 0px 0px 5px 5px;
  box-shadow: 1px 1px 2px #BBB;
}

.info-repartitor {
  display: flex;
  justify-content: center;
}


.info-concert img{
  height: 50px;
  width: auto;
  border-radius: 100%;
}

.info-concert .date {

}


.card-content-md {
  display: flex;
  padding: 0;
}

.card-infos {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0;
}


.flex-item {
    width: 100px;
    height: 15px;
    margin: 10px;
}

.flex-container {
    display: -webkit-flex;
    display: flex;
    width: 100px;
    height: 40px;
}

.FauxPrix {
    text-decoration: line-through;
}


#footer {
  position : absolute;
  bottom : 0;
  height : 40px;
  margin-top : 40px;
}
