<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Connexion</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <!--  List for Auth -->
  <ion-grid>
    <span *ngIf="!submited">
      <form (ngSubmit)="login($form)">
        <ion-row>
          <ion-item>
            <!-- <ion-label stacked>Username</ion-label> -->
            <ion-input
              name="username"
              placeholder="Username"
              type="text"
              value=""
              [(ngModel)]="user.username"
              ></ion-input>
          </ion-item>
          <ion-item>
            <!-- <ion-label stacked>Password</ion-label> -->
            <ion-input
              name="password"
              placeholder="Password"
              type="password"
              [(ngModel)]="user.password"></ion-input>
          </ion-item>
        </ion-row>
        <ion-row>
          <button ion-button full>Login</button>
        </ion-row>
      </form>
    </span>
    <span *ngIf="submited" >
      <ion-card>
        <ion-card-header>
          Bonjour {{ this.user.username }} !
        </ion-card-header>

        <ion-card-content>
          Regardez en dessous ce qui se passe en ce moment prêt de vous !
        </ion-card-content>
      </ion-card>

      <button ion-button full [navPush]="page2" (click)="clicked()">Aller voir</button>
      <button ion-button full (click)="disconnect()">Se déconnecter</button>
    </span>
  </ion-grid>
</ion-content>
