<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Evénements</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-grid>
      <ion-row>
        <ion-col width-100>
          <ion-card ion-item *ngFor="let show of shows" (click)="itemTapped($event, show)">
            <ion-card-content>
              <ion-img class="card-thumbnail"  [ngStyle]="{'background-image': 'url(' + show.Image + ')'}"></ion-img>
              <div class="card-infos">
                <ion-card-title>
                  {{show.Title}}
                </ion-card-title>
                <div class="card-details">
                  <div class="card-text-details">
                    <p class="place">
                      {{show.Place}}
                    </p>
                    <p class="date">
                      {{show.Date}}
                    </p>
                  </div>
                  <div class="card-price">
                    <p>A partir de</p>
                    <p class='price'>{{show.Price}}€</p>
                  </div>
                </div>
              </div>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
</ion-list>
<div *ngIf="selectedItem" padding>
  You navigated here from <b>{{selectedItem.title}}</b>
</div>
</ion-content>
