page-page2 {
  box-sizing: content-box;
}

.card-thumbnail {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 150px;
  min-width: 150px;
}

.item-md.item-block .item-inner {
  padding: 0;
}

.item-ios.item-block .item-inner {
  padding: 0;
}

.card-content-md, .card-content-ios{
  display: flex;
  padding: 0;
  flex-direction: column;
}

@media only screen and (min-width: 768px) {
  .card-content-md, .card-content-ios {
    flex-direction: row;
    height: 150px;
    width: 150px;
  }

  .card-price {
    border-radius: 5px;
    padding: 5px;
    height: 3em;
    background-color: rgba(255, 0, 0, 0.75);
    text-align: center;
    vertical-align: middle;
    float: right;
  }


  .card-infos {
    width: 100%;
  }
}


.card {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0;
}

.card-infos {
  padding: 0px 20px 20px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-details {
 display: flex;
 flex-direction: row;
 justify-content: space-between;
}

.card-price {
  border-radius: 5px;
  padding: 5px;
  height: 3em;
  background-color: rgba(255, 0, 0, 0.75);
  text-align: center;
  vertical-align: middle;
  float: right;
}

.card-price p {
  line-height: 1.2em;
  color: rgba(255, 255, 255, 0.9);
}

.card-price p.price {
  font-weight: bold;
}


.content {
  background-color: #EEE;
}

ion-card-title {
  font-size: 0.5em;
}

ion-col {
  padding: 0;
}

.label {
  margin: 0;
}
