page-page2 {

}

.card-thumbnail {

  background-repeat: no-repeat;
  background-size: cover;
  height: 150px;
  width: 150px;
  margin-right: 20px;
}

.card-content-md {
  display: flex;
  padding: 0;
}

.card {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0;
}

.card-infos {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card-details {

}

.card-buttons{
  display: flex;
  align-items: center;
  position: absolute;
  right: 0;
  height: 100%;
}

.card-buttons ion-icon {
  display: inline-block;
  font-size: 35px;
  color: rgba(0, 0, 0, 0.7);
}

.card-buttons.text{
  display: inline-block;
  vertical-align: middle;
}

.content {
  background-color: #EEE;
}

ion-card-title {
  font-size: 0.5em;
}

ion-col {
  padding: 0;
}

.label {
  margin: 0;
}
