page-page2 {
  box-sizing: content-box;
}

.card-thumbnail {
  background-repeat: no-repeat;
  background-size: cover;
  height: 150px;
  width: 150px;
}

.card-content-md {
  display: flex;
  padding: 0;
}

.card {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0;
}

.card-infos {
  padding: 0px 20px 20px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 75%;
}

.card-details {
 display: flex;
 flex-direction: row;
 justify-content: space-between;
}

.card-price {
  border-radius: 5px;
  padding: 5px;
  height: 3em;
  background-color: rgba(255, 0, 0, 0.75);
  text-align: center;
  vertical-align: middle;
}

.card-price p {
  line-height: 1.2em;
  color: rgba(255, 255, 255, 0.9);
}

.card-price p.price {
  font-weight: bold;
}


.content {
  background-color: #EEE;
}

ion-card-title {
  font-size: 0.5em;
}

ion-col {
  padding: 0;
}

.label {
  margin: 0;
}
