<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Page Two</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-grid>
      <ion-row>
        <ion-col width-100>
          <ion-card ion-item *ngFor="let show of shows" (click)="itemTapped($event, item)">
            <ion-card-content>
              <ion-row>
                <ion-col width-50>
                  <img src="img/show1.jpg"/>
                </ion-col>
                <ion-col width-50>
                  <ion-card-title>
                    {{show.Title}}
                  </ion-card-title>
                </ion-col>
              </ion-row>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
      <!-- <button ion-item *ngFor="let item of items" (click)="itemTapped($event, item)">
      <ion-icon [name]="item.icon" item-left></ion-icon>
      {{item.title}}
      <div class="item-note" item-right>
      {{item.note}}
    </div>
  </button>-->
</ion-list>
<div *ngIf="selectedItem" padding>
  You navigated here from <b>{{selectedItem.title}}</b>
</div>
</ion-content>
